	#hdr1{
					background-color: #333333;
					font:Droid Sans;
					font-weight:400;
					width:100%;
					
				}
				
		.hrcontent{
				float:left;	
				}
		.marquee {
				width: 300px;
				overflow: hidden;
				border: 1px solid #ccc;
				background: #ccc;
				}
			#img{
					margin:10px 200px;
			    }
			#hdr1 li{
					display:inline-block;
					color:#AAA;
					margin:0px;
					padding: 1px;
					}
			ul{
				margin:4px 700px;
				font-size:10px;
				
			 }
			#second{
			 		display:inline-block;
					color:#AAA;
					
				margin:2px 550px;
			 }
			 ul,#second{
					display:inline;

					}
			.dropcontent{
					display: none;
					position: absolute;
					text-color:white;
					background-color: #333333;
					min-width: 0px;
					box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
					transition:width 0.4s 0.6s;
					}
			.dropdown{
					position: relative;
					display: inline-block;
					
					}
			.dropbtn	{ 
					background-color: #333333;
					color: white;
					padding: 8px;
					font-size: 12px;
					border: none;
					cursor: pointer;
					
					
					}
			 .dropcontent a{
					 	color: white;
						padding: 4px 8px;
						text-decoration: none;
						display: block;
						border:0px dotted grey;
			 
								 }
			.dropdown:hover .dropcontent{
						background-color: grey;
						display:block;
						width:160px;
						
						}
			 .dropcontent a:hover{
									background-color: #333333
									
								 }
			.dropdown:hover .dropbtn {
									background-color: #333333;
									 }

			p	{
				text-align:justify;
				margin-left:200px;
				margin-right:200px;
				font-size:18px;
				}	
			p a:link{
				color:red;
				}
			hr{
				margin-left:200px;
				margin-right:200px;
				margin-bottom:20px;
				}
			table a:link{
				text-decoration:none;
				color:white;
				background-color:grey;
						}
			table a{text-decoration:none;}
			#foot{
			display:inline;
			}
			#foot1,#foot2,#foot3,#foot4{
			display:inline;
			
			}
			#disp{
			 
			}
			#disp ul{
			float:left;
			
			}
			.demo1{
			font-weight:bolder;
			color:red;
			}
			#ftr2{ 
				clear:both;
			}
			#footer{
			background-color:black;
			width:100%
			height:600px;
			clear:both;}
			
			.tooltip{
					position: relative;
					display: inline-block;
					
			        }
			.tooltipcontent{
					visibility: hidden;
					width: 120px;
					background-color: white;
					color: black;
					text-align: center;
					border-radius: 6px;
					padding: 5px 0;
					font-size:10px;
					position: absolute;
					z-index: 1;
					top: 100%;
					left: 50%;
					margin-left: -60px;
					}
			.tooltip:hover .tooltipcontent{
					visibility:visible;
					border:2px solid black;
					}