body{
  margin:0;
  padding:0;
}

header{
  width:98.5%;
  background-color:rgb(21,21,21);
  display:inline-block;
  padding:10px;
  background-image:url(images/logo_03.png);
  background-repeat:no-repeat;
  background-position:220px 45px;
}

header ul{
  margin:0;
}
header ul#head{
  margin-top:45px;
  float:right;
  padding:5px;
  margin-right: 180px;
  font-size: 10px;
  clear:both;
}

 header ul li a{
  text-decoration:none;
  color:white;
  padding:7px;
}

header ul li{
  display:inline-block;
  color:white;
}

ul#lowhead{
  float:right;
  margin-top: 25px;
  margin-right: 180px;
  font-size:12px;
  font-weight:bold;
  clear:both;
}

input[type=text]{
  background-color:grey;
  border:0;
  width:100px;
}

#btnsearch{
  border:0;
  background-color: grey;
  color:white;
}

section h1{
  text-align:center;
  font-size:40px;
}

section p{
  margin-left: 250px;
  margin-right: 180px;
  font-size: 20px;
}

span a{
  color:red;
}

span a:hover{
  color:rgb(140,6,6);
}

h3{
  text-align:center;
}

#dropup {
    position: relative;
    display: inline-block;
}

#content {
    display: none;
    position: absolute;
    background-color: grey;
    width: 200px;
}

@keyframes example {
    from {width:0;height:0;}
    to {max-width:200px;height:200px;}
}

#content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  border-bottom:1px dotted black;
}

#content a:hover {background-color: black;}

#dropup:hover #content {
   display: block;
   animation-name: example;
   animation-duration: 0.4s;
}

#dropup:hover #btn {
    color: grey;
}

hr{
  margin-left: 250px;
  margin-right: 180px;
  clear:both;
  margin-top:0;
  margin-bottom: 0px;
}

#img figure{
  display:inline-block;
  margin:0;
  padding:5px;
  margin-top:30px;
}

#img figure figcaption{
  text-align: center;
  color:red;
}

#img,#imgname{
  margin-left:250px;
  margin-bottom:0;
  border:0;
  padding:0;
}

#img img{
  padding:0 0 0 5px;
  opacity:.6;
}

#img img:hover{
  opacity:1;
}

#news{
  color:red;
  font-size:12px;
  float:left;
  clear:both;
}

#news a{
  color:red;
  font-size:15px;
  text-decoration:none;
}

#likes{
  float:right;
  margin-right:180px;
}

#likes img{
  width:30px;
  margin:10px;
  margin-bottom:0;
  margin-top:0;
}

#links ul li{
  list-style: none;
  
}
#links{
  display:block;
  margin-left:200px;
}
#links ul{
  float:left;
  display:block;
}

#links a{
  text-decoration:none;
  color: grey;
  font-size: small;
}

footer{
  clear:both;
  background-color:rgb(40,40,40);
  font-size:13px;
  font-size:13px;
  font-style: italic;
  color:white;
}

footer p{
  margin:0;
  bottom:0;
  margin-left:200px;
  padding:20px;
  padding:5px 40px 40px 40px;
}
footer a{
  text-decoration: none;
  color:rgb(162,82,242);
  padding:0;
}

#awards{
  display:block;
  margin:0;
  width:100%;
  clear: both;
  background-color:grey;
}

#awards h5{
  text-align: center;
  margin-right: 100px;
  font-size: 20px;
  color:white;
}

#awards img{
  margin:0;
  margin-left:50px;
  padding:0;
  display:inline-block;
  margin-left:52px;
  margin-bottom: 8px;
  padding:0;

}


#awards div a:hover{
  text-decoration: none;
  opacity: 0.4;
}

#newsletter{
  margin-top:15px;
  margin-right: 200px;
  float:right;
}

#newsletter p{
  font-size:15px;
}

#newsletter h4,form{
  text-align:right;
  padding:5px;
}

#newsletter input[type=submit]{
  border:0;
  background-color:lightgreen;
  font-size:15px;
  padding:3px;
  border:4px solid white;
  border-right:0;
}

#newsletter input{
  padding:5px;
}

#newsletter sup{
  color:lightgreen;
  padding:4px;
}

#newsletter input[type=submit]{
    cursor:text;
}

#newsletter input[type=text]{
  width:150px;
  background-color:rgb(187,198,201);
}

#imglinks{
  float:right;
}

#imglinks img{
  width:20px;
}

.typedtext
	{
	font-size:150px;
	font-family:sans-serif;
	font-weight:bold;
	color:red;
	position:absolute;
	padding-left:200
	}
	.main
	{
		
	}