.head
	{
		height:170px;
		width:99%;
		background-color:#151515;
		display:inline-block;
		
		
	}
	
.head img
	{
		padding-bottom: 20px;
		padding-top: 10px;
		padding-left:200px;
		
	}
body
	{
		margin:0px;
		font-family: 'Droid Sans', sans-serif;
		font-size:12px;
		padding:0px;
		
	}

.head ul{
  

}
.headul1 li{


  font-size: 11px;
  
}
.headul1 li a{

	background-color:#151515; color:white;
  padding:5px;border:0px;
  font-size: 11px;
  text-decoration:none;
  
}
.headul2 button
{
	background-color:#151515; color:white;
  padding:5px;border:0px;}
.headul2 li{
	
  font-size: 12px;
  clear:both;
}


.head ul li{
  display:inline-block;
  color:white;
}

.tooltip{
					position: relative;
					display: inline-block;
					
			        }
			.tooltipcontent{
					visibility: hidden;
					width: 120px;
					background-color: white;
					color: black;
					text-align: center;
					border-radius: 6px;
					padding: 5px 0;
					font-size:10px;
					position: absolute;
					z-index: 1;
					top: 100%;
					left: 50%;
					margin-left: -60px;
					}
			.tooltip:hover .tooltipcontent{
					visibility:visible;
					border:2px solid black;
					}



input{
  background-color:grey;
  padding:5px;
  border:0;
  width:110px;
}
.btnsearch{
  background-color:grey;
  border:0;
  width:0px;
}

section h1{
  text-align:center;
  font-size:40px;
}

section p{
  margin-left: 250px;
  margin-right: 180px;
  font-size: 18px;
}

span a{
  color:red;
}

span a:hover{
  color:blue;
}

h3{
  text-align:center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.content {
    display: none;
    position: absolute;
    background-color: grey;
    width: 200px;
}




header{
  width:98.9%;
  background-color:#151515;
  display:inline-block;
  padding:10px;


}

.head ul{
  margin:0;
  margin-left:600px;
}
.head ulhead2{
  margin-top:45px;
  float:right;
  padding:5px;
  margin-right: 180px;
  font-size: 10px;
  clear:both;
}

 header ul li a{
  text-decoration:none;
  color:white;
  padding:7px;
}

header ul li{
  display:inline-block;
  color:white;
}

ul.head2{
  float:right;
  margin-top: 25px;
  margin-right: 180px;
  font-size:12px;
  font-weight:bold;
  clear:both;
}

input{
  background-color:grey;
  border:0;
  width:100px;
}

.btnsearch{
  border:0;
  background-color: grey;
  color:white;
}

section h1{
  text-align:center;
  font-size:36px;
}

section p{
  margin-left: 250px;
  margin-right: 180px;
  font-size: 18px;
}

span a{
  color:red;
}

span a:hover{
  color:brown;
}

h3{
  text-align:center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropcontent {
    display: none;
    position: absolute;
    background-color: grey;
    width: 200px;
}

@keyframes example {
    from {width:0;height:0;}
    to {max-width:200px;height:200px;}
}

.dropcontent a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  border-bottom:1px dotted black;
}

.dropcontent a:hover {background-color: black;}

.dropdown:hover .dropcontent {
   display: block;
   animation-name: example;
   animation-duration: 0.4s;
}

.dropdown:hover .dropbtn {
    color: grey;
}

hr{
  margin-left: 176px;
  margin-right: 200px;
  clear:both;
  margin-top:0;
  margin-bottom: 0px;
}

.img figure{
  display:inline-block;
  margin:0;
  padding:5px;
  margin-top:30px;
}

.img figure figcaption{
  text-align: center;
  color:red;
}

.img,.imgname{
  margin-left:250px;
  margin-bottom:0;
  border:0;
  padding:0;
}

.img img{
  padding:0 0 0 5px;
  opacity:.8;
}

.img img:hover{
  opacity:1;
}

.news{
  color:red;
  font-size:12px;
  float:left;
  clear:both;
}

.news a{
  color:red;
  font-size:15px;
  text-decoration:none;
}

.hrul{
  float:right;
  margin-right:180px;
}

.hrul img{
  
  margin:3px;
  width:30px;
  text-decoration:none;
}

.disp1 ul li{
  list-style: none;
  
}
.disp1{
  display:block;
  margin-left:200px;
}
.disp1 ul{
  float:left;
  display:block;
}

.disp1 a{
  text-decoration:none;
  color: grey;
  
}



footer p{
  margin:0;
  bottom:0;
  margin-left:200px;
  padding:20px;
  
}
footer a{
  text-decoration: none;
  color:blue;
  padding:0;
}
footer{

  background-color:rgb(40,40,40);
  font-size:13px;
  font-size:13px;
  font-style: italic;
  color:white;
}
.awards{
  display:block;
  margin:0;
  width:100%;
  clear: both;
  background-color:grey;
}

.awards h5{
  text-align: center;
  margin-right: 100px;
  font-size: 16px;
  color:white;
}

.awards img{
  margin:0;
  margin-left:50px;
  padding-top:15px;
  display:inline-block;
  margin-left:52px;
  margin-bottom: 8px;
  padding:0;

}


.awards div a:hover{
  text-decoration: none;
  opacity: 0.4;
}

.news{
  margin-top:15px;
  margin-right: 200px;
  float:right;
}

.news p{
  font-size:15px;
  direction:rtl;
  margin:0;
  padding:0;
   color:black;
  font-size:12px;
}
.news  form{
  text-align:right;
  padding:0px;
  color:black;
  font-size:12px;
}
.news h4{
  text-align:right;
  padding:5px;
  color:black;
  font-size:20px;
}

.news input[type=submit]{
  border:0;
  background-color:green;
  font-size:15px;
  padding:3px;

  border-right:0;
}
.displ1 , .news{display:inline-block;}

.news input{
  padding:5px;
}
.news input[type=submit]{
    cursor:text;
}

.news input[type=text]{
  width:150px;
  background-color:grey;
}

.social{
  float:right;
}

.social img{
  width:20px;
}

.main
	{
	position:absolute;
	height:5px;
	width:100%;
	
		}
.newsl{font-size:14px;color:red;}
.typedtext
	{
	font-size:15px;
	font-family:sans-serif;
	font-weight:bold;
	color:red;
	padding-left:292px;
	}
.hrul li
	{
		padding-left:900px;
		list-style-type:none;
		display:inline-block;
	}
