body{
	background:url("back3.png");
	background:cover;
	background-repeat:vertical-align;
	border:20px solid black;
	margin:0px;
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
	font-size:15px;
}
.icon{width:20px;
	height:20px;}
.formbody
	{
	padding-top:5px;
	width:94%;
	padding-left:80px;
	
	
	}
.header
	{
		background-color:white;
		width:68%;
		height:80px;
	}
.formbody, .header{padding-left:150px;}
#logo , .headerleft
	{
		display:inline-block;
	}
.headerleft
	{
		margin:0px;
		float:right;
		marging-right:4px;
	}
form{
	width: 80%;
    background:#ff6600;
    border-top: solid 1px #fcfcfc;
    


	}
.label li{list-style-type:none;
		padding-left:50px;
		text-align:right;
		
	}
.ul2 {
	padding-left:53px;
	list-style-type:none;

	
	}
.ul2 li , .label li
	{	
	
	padding-bottom:5px;
	}
.label , .ul2
	{
		display:inline-block;
		margin-bottom:5px;
	}
caption
	{
		padding-left:200px;
	}
.labelradio li
{
	display:inline;
	padding-left:-10px;
	
}
.fresher1
	{
	display:none;
		
	}
.fresher1 li{list-style-type:none;	}
.lessthan1year1
		{
			display:none;
			padding-left:0px;
			}
#label2{padding-top:0px;}

.morethan1year1{display:none;}
.reveal-if-active select , .reveal-if-active input
				{
					width:112px;
					
				}
				.reveal-if-active input
				{
					width:112px;
					
					
				}
				

#submit{ cursor:pointer;
		border-radius:10px;
		padding:10px;
		background-color:black;
		color:red;
		border:4px solid orange;
		}

.skills1, .skills2,.skills3{display:inline-block;}
.label1 li{list-style-type:none;
		padding-left:0px;
		text-align:right;
		line-height:57px;
		
	}
.ul3 {
	padding-left:19px;
	list-style-type:none;

	
	}
.ul3 li , .label1 li
	{	
	
	padding-bottom:5px;
	}
.label1 , .ul3
	{
		display:inline-block;
		margin-bottom:30px;
		position:relative;
	}
.txtstyle{
	padding-top:10px;
}
strong{font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
		font-size:20px;}
.error {
  font: normal 10px arial;
 padding: 3px;
  margin: 3px;
  background-color: #ffc;
  border: 1px solid #c00;
}
#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius:7px; 
	width:550px;
	z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background:#333; padding:20px; color:#FFF; }
#dialogbox > div > #dialogboxfoot{ background: #666; padding:10px; text-align:right; }
#score10,#score12,#gradscore,#gradyr,#postgradscore,#postgradyr{ width:40px;}
#lscore10,#lscore12,#lgradscore,#lgradyr,#lpostgradscore,#lpostgradyr{ width:40px;}
#conf{color:brown;}
#dhokha{color:#ff6600;}